<a href="https://colab.research.google.com/github/BenedikteFinken/Machine-Learning/blob/master/Case_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-3].values
y = dataset.iloc[:, -3:].values

In [0]:
dataset.describe()

       col1;col2;col3;col4;label1;label2;label3
count                                      1000
unique                                      996
top                        63723E+15;category_2
freq                                          2

In [0]:
print(dataset)

                                                        col1;col2;col3;col4;label1;label2;label3
-1 0426E+16;8  48727E+15;4 35947E+15;-4 62E+16;-10;5                        96545E+15;category_2
   12768E+16;2 6603E+15;2  73127E+16;3  43852E+16;-10;6                     55951E+15;category_2
-8 43811E+15;2 54257E+16;4 41366E+14;1  54452E+16;10;8                      92635E+15;category_2
-2 47289E+16;2 25278E+16;1 21361E+16;6  65552E+15;-10;6                     50176E+15;category_2
-7 44405E+15;2 52957E+16;6 44706E+16;1  03031E+16;10;9                      29432E+15;category_3
...                                                                                          ...
-2 36265E+16;2 01975E+14;5 2825E+15;1   47319E+15;10;1                      26301E+16;category_3
   25515E+16;2 54957E+16;3 62153E+15;-1 42411E+15;10;8                      63492E+15;category_2
-1 14056E+16;1 13269E+15;2 05333E+16;6  80928E+14;-10;5                     71883E+15;category_2
   1832E+15;1  05338E+14;4 24594E+15;9  11168E+15;10;7                      56757E+16;category_2
-2 10727E+16;1 76062E+16;4 85069E+16;7  63797E+15;10;1                       0319E+15;category_3

[1000 rows x 1 columns]

In [0]:
dataset.head()

                                                        col1;col2;col3;col4;label1;label2;label3
-1 0426E+16;8  48727E+15;4 35947E+15;-4 62E+16;-10;5                        96545E+15;category_2
   12768E+16;2 6603E+15;2  73127E+16;3  43852E+16;-10;6                     55951E+15;category_2
-8 43811E+15;2 54257E+16;4 41366E+14;1  54452E+16;10;8                      92635E+15;category_2
-2 47289E+16;2 25278E+16;1 21361E+16;6  65552E+15;-10;6                     50176E+15;category_2
-7 44405E+15;2 52957E+16;6 44706E+16;1  03031E+16;10;9                      29432E+15;category_3